In [1]:
import pandas as pd
from users import Person

In [2]:
df_dataSet = pd.read_csv('../../dataset/processed_data_set.csv')
columns = df_dataSet.columns
#todo : save the columns
df_userWatchedMovies = pd.DataFrame(columns=columns)

In [3]:
User1 = Person('anass')
User1.watched_movies = df_userWatchedMovies
User1.watched_movies['rating'] = 0

In [4]:
row_to_add = df_dataSet.loc[df_dataSet['title'] == 'Inception']
User1.watched_movies = pd.concat([User1.watched_movies,row_to_add], ignore_index=True)
User1.watched_movies.loc[User1.watched_movies['title'] == 'Inception', 'rating'] = 10
row_to_add = df_dataSet.loc[df_dataSet['title'] == 'The Shawshank Redemption']
User1.watched_movies = pd.concat([User1.watched_movies,row_to_add], ignore_index=True)
User1.watched_movies.loc[User1.watched_movies['title'] == 'The Shawshank Redemption', 'rating'] = 7
row_to_add = df_dataSet.loc[df_dataSet['title'] == 'Avatar']
User1.watched_movies = pd.concat([User1.watched_movies,row_to_add], ignore_index=True)
User1.watched_movies.loc[User1.watched_movies['title'] == 'Avatar', 'rating'] = 1

In [5]:
User1.watched_movies

,title,adult_True,Language_encoded_de,Language_encoded_en,Language_encoded_es,Language_encoded_fr,Language_encoded_it,Language_encoded_ja,Language_encoded_ko,Language_encoded_pt,...,United Kingdom,United States of America,other,release_date_Contemporary Cinema,release_date_Golden Age of Hollywood,release_date_Modern Cinema,release_date_New Hollywood and Blockbuster Era,release_date_Post-War and Classic Cinema,release_date_Silent Era,rating
0,Inception,0,0,1,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,10.0
1,The Shawshank Redemption,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,7.0
2,Avatar,0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,1.0

In [6]:
User1.calculate_user_profile()
User1.user_profile

,adult_True,Language_encoded_de,Language_encoded_en,Language_encoded_es,Language_encoded_fr,Language_encoded_it,Language_encoded_ja,Language_encoded_ko,Language_encoded_pt,Language_encoded_ru,...,Spain,United Kingdom,United States of America,other,release_date_Contemporary Cinema,release_date_Golden Age of Hollywood,release_date_Modern Cinema,release_date_New Hollywood and Blockbuster Era,release_date_Post-War and Classic Cinema,release_date_Silent Era
0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11.0,18.0,0.0,10.0,0.0,8.0,0.0,0.0,0.0